.social

  .img-stream
    %h3 Image Stream
    - @social_widgets.each do |widget|
      - if widget[:type] != :twitter
        = haml widget[:type], :locals => { widget[:type] => widget }

  .text-stream
    %h3 Text Stream
    - @social_widgets.each do |widget|
      - if widget[:type] == :twitter
        = haml widget[:type], :locals => { widget[:type] => widget }
