.social

  .img-stream
    %h3 Image Stream
    - @images.each do |image|
      = haml :image, :locals => { :image => image }

  .text-stream
    %h3 Text Stream
    - @texts.each do |text|
      = haml :text, :locals => { :text => text }
