%div{:class => [text[:type], 'content-block']}
  %section
    .content
      %img{:src => text[:user][:pic_url]}
      .text= text[:text]
    .meta
      = "@#{text[:user][:name]}"
      = Time.at(text[:timestamp])
